<!-- <div class="container">
  <input type="file" (change)="uploadFile($event)" />
    <div *ngIf="uploadPercent">
      <progress id="file" value="{{ uploadPercent | async }}" max="100"> {{ uploadPercent | async }} </progress>&nbsp;{{ uploadPercent | async }}%
    </div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
</div> -->
<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Drop file to upload</h1>
		</div>

		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
      <p>Browse file</p>
      <input type="file" class="upload-input" (change)="uploadFile($event)" />
		</div>

		<button type="button" class="btn" name="uploadbutton">Upload file</button>

    <div *ngIf="uploadPercent">
      <progress id="file" value="{{ uploadPercent | async }}" max="100"> {{ uploadPercent | async }} </progress>&nbsp;{{ uploadPercent | async }}%
    </div>

	</div>
</div>

<div class="copy-area" *ngIf="downloadURL">
  <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
  <input class="form-control copy-input" type="text" value="downloadURL" #userinput>
      <button class="copy-btn" (click)="copyInputMessage(userinput)" value="click to copy" >Copy to clipboard</button>

</div>